@import "/src/scss/variables";

.button {
  display: inline-block;
  background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-image: darken($orange, 8%);
  }

  &:hover .button__count {
    transform: translateX(-5px);
    transition-delay: 0.2s;
    opacity: 0;
  }

  .button__arrow-right {
    position: absolute;
    top: 18px;
    right: 20px;
    opacity: 0;
  }

  &:hover .button__arrow-right {
    transform: translateX(-10px);
    transition-delay: 0.2s;
    opacity: 1;
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: #fff;
    border-color: $orange;
    &,
    span {
      color: $orange;
    }

    svg {
      path {
        fill: $orange;
      }
    }

    &:hover {
      background-color: $orange;

      &,
      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: darken($orange, 8%);
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &__count {
    width: 40px;
  }

  &__price {
    width: 70px;
  }

  &--add {
    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        background-color: #fff;
        color: $orange;
        box-shadow: 0px 0px 2px 2px #fff;
      }
    }

    i {
      display: inline-block;
      border-radius: 30px;
      background-color: $orange;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      left: 8px;
      vertical-align: bottom;
      box-shadow: 0px 0px 2px 2px $orange;
      animation: show 0.2s 1;
    }

    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &--cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    padding: 12px 25px;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
